[flake8]
# E226: Missing whitespace around arithmetic operator
# E266: Too many leading '#' for block comment
# E402 module level import not at top of file
# E501: Line too long
ignore = E226, E501, E266, E402
max-line-length = 80
count = False
statistics = True
